.products-list {
    border: 1px solid black;
    width: 150px;
}

.product-item:hover{
    cursor: pointer;
    background-color: #EEE;
    box-shadow: 0 1px 3px 0 #007,0 0 0 1px #007;
}

.product-item {
    width:200px;
    height:150px;
    position:relative;
    display:inline-block;
    overflow:hidden;

    img {
        width: 100%;
        height: 50%;
    }
}

.search-input {
    display: flex;
}

.queryInput {
    flex: 1;
}

.image {

}